.accept-cookies {
  text-align: center;
  width: 100%;
   margin: 0;
   padding: 0;
   background-color: rgba(230, 72, 72, 0.329);
   top: 0;
   left: 0;
}

.accept-cookies-left {
  text-align: center;
  padding: 5px;
  left: 0;
}

