.cui-group-instance-entry {
  /* border-style: dotted; */
  /* border-color: bisque; */
  padding: 0;
  margin-right: 0;
}


.cui-field-input .form-group {
  margin: 0;
}

.cui-group-entry-label {
  font-weight: bold;
  text-align: left;
}

.cui-field-input-label {
  width: 8em;
  text-align: left;
}

.cui-text-input {
  overflow: auto;
  /* background-color: rgb(194, 123, 30); */
}

.cui-group-instance-multiplicity-controls {
  display: inline;
}

.cui-group-entry .card {
  background-color: rgb(230, 240, 243);
}

.cui-group-entry .card-body {
  padding: 0;
}

.cui-group-entry .card-title {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.cui-group-entry-label {
  display: inline;
}
.cui-group-instance-label {
  display: inline;
}

.group-collapse-button {
  display: inline;
  margin-left: 1em;
}

.cui-group-multiplicity-controls {
  display: inline;
}

.delete-instance-button {
  display: inline
}

.insert-before-instance-button {
  display: inline
}

.insert-after-instance-button {
  display: inline
}