

 
#curri-css-editor {
    height: 25em;
    border: thick black;
    overflow: auto;
    background-color : #d1d1d1; 
}

#curri-css-edit-block {
    border: thick double black;
}

.css-editor-pre { 
    overflow: auto;
}

.css-editor-textarea { 
    overflow: auto;
    background-color : #d100d1; 
}
 
#curri-preview-document {
    background-color: #f8f8f6; 
    margin-top: 1em;
    padding: 1em;
}