
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.app-name {
  font-weight: 750;
  color: #202040;
}

.curri {
  background-color: rgb(220, 230, 233);
  min-height: 100vh;
}

.dialog-template-name {
  font-style: italic;
}

.template-editor-textarea {
  height: 60%;
}

.template-editor-pre {
  height: 60%;
}

.element-control {
  display: inline;
  margin-left: 8px;
}

.sample-preview {
  padding: 3.5em;
}

ul#list-templates {
  list-style: none;
  padding-left: 0;
}

ul#list-documents {
  margin-top: 1em;
  list-style: none;
  padding-left: 0;
}